<div class="card">
  <div class="card-header">
    Pesquisa de Efetividade
  </div>
  <div class="card-body"><!--
    <p>
      Periodicamente, realiza-se uma pesquisa de
      <code>
        Efetividade
      </code>
      com as pessoas interessadas.
    </p>-->
    <div class="no-more-tables">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              Time
            </th>
            <th>
              Sprint
            </th>
            <th class="numeric">
              Tamanho
            </th>
            <th class="numeric">
              Esforço
            </th>
            <th class="numeric">
              Velocidade
            </th>
            <th class="numeric">
              Tx. Entrega
            </th>
            <th class="numeric">
              Produtividade
            </th>
            <th class="numeric">
              Custo
            </th>
            <th class="numeric/">
              Inc./PF
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="Code">
              Contas
            </td>
            <td data-title="Company">
              12
            </td>
            <td data-title="Price" class="numeric">
              23
            </td>
            <td data-title="Change" class="numeric">
              812
            </td>
            <td data-title="Change %" class="numeric">
              25
            </td>
            <td data-title="Open" class="numeric">
              2,13
            </td>
            <td data-title="High" class="numeric">
              13,8
            </td>
            <td data-title="Low" class="numeric">
              1,4K
            </td>
            <td data-title="Volume" class="numeric">
              0,05
            </td>
          </tr>
          <tr>
            <td data-title="Code">
              Contas
            </td>
            <td data-title="Company">
              11
            </td>
            <td data-title="Price" class="numeric">
              25
            </td>
            <td data-title="Change" class="numeric">
              800
            </td>
            <td data-title="Change %" class="numeric">
              25
            </td>
            <td data-title="Open" class="numeric">
              2,15
            </td>
            <td data-title="High" class="numeric">
              14,5
            </td>
            <td data-title="Low" class="numeric">
              1,3K
            </td>
            <td data-title="Volume" class="numeric">
              0,03
            </td>
          </tr>
          <tr>
            <td data-title="Code">
              Cadastros
            </td>
            <td data-title="Company">
              2
            </td>
            <td data-title="Price" class="numeric">
              32
            </td>
            <td data-title="Change" class="numeric">
              780
            </td>
            <td data-title="Change %" class="numeric">
              31
            </td>
            <td data-title="Open" class="numeric">
              3.11
            </td>
            <td data-title="High" class="numeric">
              15,4
            </td>
            <td data-title="Low" class="numeric">
              1,2K
            </td>
            <td data-title="Volume" class="numeric">
              0,02
            </td>
          </tr>
        </tbody>
      </table>
      <div align="right">
        <p></p>
        <button type="button" class="btn btn-primary btn-icon loading-demo mr-1 mb-1">
          <i class="icon icon-basic-paperplane"></i>
          <span>Novo</span>
        </button>
        <button type="button" class="btn btn-info btn-icon mr-1 mb-1">
          <i class="icon icon-basic-server-upload"></i>
          <span>Carregar</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Avaliação de maturidade
  </div>
  <div class="card-body">
    <!--
    <p>
      A avaliação de
      <code>
        Maturidade
      </code>
      cobre o domínio da infraestrutura necessária ao trabalho do time.
    </p>-->
    <div class="table-responsive">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              Rendering engine
            </th>
            <th>
              Browser
            </th>
            <th>
              Platform(s)
            </th>
            <th>
              Engine version
            </th>
            <th>
              CSS grade
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Other browsers
            </td>
            <td>
              All others
            </td>
            <td>
              -
            </td>
            <td>
              -
            </td>
            <td>
              U
            </td>
          </tr>
          <tr>
            <td>
              Gecko
            </td>
            <td>
              Epiphany 2.20
            </td>
            <td>
              Gnome
            </td>
            <td>
              1.8
            </td>
            <td>
              A
            </td>
          </tr>
          <tr>
            <td>
              Gecko
            </td>
            <td>
              Firefox 1.0
            </td>
            <td>
              Win 98+ / OSX.2+
            </td>
            <td>
              1.7
            </td>
            <td>
              A
            </td>
          </tr>
          <tr>
            <td>
              Gecko
            </td>
            <td>
              Firefox 1.5
            </td>
            <td>
              Win 98+ / OSX.2+
            </td>
            <td>
              1.8
            </td>
            <td>
              A
            </td>
          </tr>
          <tr>
            <td>
              Gecko
            </td>
            <td>
              Firefox 2.0
            </td>
            <td>
              Win 98+ / OSX.2+
            </td>
            <td>
              1.8
            </td>
            <td>
              A
            </td>
          </tr>
        </tbody>
      </table>
      <div align="right">
        <p></p>
        <button type="button" class="btn btn-primary btn-icon loading-demo mr-1 mb-1">
          <i class="icon icon-basic-paperplane"></i>
          <span>Novo</span>
        </button>
        <button type="button" class="btn btn-info btn-icon mr-1 mb-1">
          <i class="icon icon-basic-server-upload"></i>
          <span>Carregar</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Termômetro
  </div>
  <div class="card-body">
    <!--<p>
      A
      <code>
        Temperatura do Time
      </code>
      é um sentimento dos seus membros em relação a qualidade do ambiente de trabalho.
    </p>-->
    <div class="card-body">
      <div class="no-more-tables">
        <table class="table table-bordered table-striped mb-0">
          <thead>
            <tr>
              <th>
                Rendering engine
              </th>
              <th>
                Browser
              </th>
              <th>
                Platform(s)
              </th>
              <th>
                Engine version
              </th>
              <th>
                CSS grade
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Other browsers
              </td>
              <td>
                All others
              </td>
              <td>
                -
              </td>
              <td>
                -
              </td>
              <td>
                U
              </td>
            </tr>
            <tr>
              <td>
                Gecko
              </td>
              <td>
                Epiphany 2.20
              </td>
              <td>
                Gnome
              </td>
              <td>
                1.8
              </td>
              <td>
                A
              </td>
            </tr>
            <tr>
              <td>
                Gecko
              </td>
              <td>
                Firefox 1.0
              </td>
              <td>
                Win 98+ / OSX.2+
              </td>
              <td>
                1.7
              </td>
              <td>
                A
              </td>
            </tr>
            <tr>
              <td>
                Gecko
              </td>
              <td>
                Firefox 1.5
              </td>
              <td>
                Win 98+ / OSX.2+
              </td>
              <td>
                1.8
              </td>
              <td>
                A
              </td>
            </tr>
            <tr>
              <td>
                Gecko
              </td>
              <td>
                Firefox 2.0
              </td>
              <td>
                Win 98+ / OSX.2+
              </td>
              <td>
                1.8
              </td>
              <td>
                A
              </td>
            </tr>
          </tbody>
        </table>
        <div align="right">
          <p></p>
          <button type="button" class="btn btn-primary btn-icon loading-demo mr-1 mb-1">
            <i class="icon icon-basic-paperplane"></i>
            <span>Novo</span>
          </button>
          <button type="button" class="btn btn-info btn-icon mr-1 mb-1">
            <i class="icon icon-basic-server-upload"></i>
            <span>Carregar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
