<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-headset">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          57
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Usuários</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-server2">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          3,5k
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Pontos</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-teal text-white icon icon-basic-magic-mouse">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          15
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Sistemas</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-red text-white icon icon-basic-heart">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          7
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Enquetes</strong>
        </small>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget bg-purple card-inverse">
      <div class="widget-bg-icon icon icon-basic-headset"></div>
      <div class="block">
        <h5 class="mb-0"><strong>12,3K</strong></h5>
        <p>Movimentos</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget bg-green card-inverse">
      <div class="widget-bg-icon icon icon-basic-server2"></div>
      <div class="block">
        <h5 class="mb-0"><strong>31,21</strong></h5>
        <p>PF/PM médio</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget bg-cyan card-inverse">
      <div class="widget-bg-icon icon icon-basic-magic-mouse"></div>
      <div class="block">
        <h5 class="mb-0"><strong>1,5k</strong></h5>
        <p>R$/PF médio</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget bg-blue card-inverse">
      <div class="widget-bg-icon icon icon-basic-heart"></div>
      <div class="block">
        <h5 class="mb-0"><strong>223</strong></h5>
        <p>Participantes</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-header">Consumo de serviços</div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                x
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                x
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox">
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                x
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                x
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                x
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                x
              </span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card card-primary card-inverse">
      <div class="card-header">Gestão de Dados</div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                a
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                a
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox">
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                a
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                a
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                a
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                a
              </span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card card-info card-inverse">
      <div class="card-header">Gestão de Ativos</div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                b
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                b
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox">
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                b
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                b
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                b
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                b
              </span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card card-success card-inverse">
      <div class="card-header">Pesquisas & Boletins</div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                c
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                c
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox">
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                c
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                c
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                c
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                c
              </span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="card card-body card-widget bg-deep-purple card-inverse">
      <a href="javascript:;">
        <img src="assets/images/avatar.jpg" class="avatar-sm rounded-circle" alt="">
      </a>
      <div class="pl-3 pr-3">
        <p class="ff-headers mb-0 text-uppercase">Samuel <strong>Perkins</strong></p>
        <small class="d-block">Porto Alegre, BRA</small>
        <small class="d-block">ADMIN LOCAL</small>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-body card-widget bg-brown card-inverse">
      <div class="mr-auto">
        <h3 class="fw-300 mb-0">6,8°</h3>
        <small>Temperatura anterior</small>
      </div>
      <div class="d-block">
        <div class="icon icon-weather-wind-sun h1 mb-0"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-body card-widget bg-yellow card-inverse text-center">
      <div class="d-block" style="width: 100%;">
        <h3 class="fw-300 mb-0">7,0°</h3>
        <small>Temperatura atual</small>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-body card-widget no-bg">
      <div class="mr-auto">
        <h3 class="fw-300 mb-0">6,9°</h3>
        <small>Previsão (tendência)</small>
      </div>
      <div class="block">
        <div class="icon icon-weather-wind-sun h1 mb-0"></div>
      </div>
    </div>
  </div>
</div>
