<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-headset">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          57
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Usuários</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-server2">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          23,5k
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Pontos</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-teal text-white icon icon-basic-magic-mouse">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          15
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Sistemas</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-red text-white icon icon-basic-heart">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          7
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Enquetes</strong>
        </small>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget bg-purple card-inverse">
      <div class="widget-bg-icon icon icon-basic-headset"></div>
      <div class="block">
        <h5 class="mb-0"><strong>12</strong></h5>
        <p>empresas</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget bg-green card-inverse">
      <div class="widget-bg-icon icon icon-basic-server2"></div>
      <div class="block">
        <h5 class="mb-0"><strong>31,21</strong></h5>
        <p>PF/PM, em média</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget bg-cyan card-inverse">
      <div class="widget-bg-icon icon icon-basic-magic-mouse"></div>
      <div class="block">
        <h5 class="mb-0"><strong>16</strong></h5>
        <p>times de desenvolvimento</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget bg-blue card-inverse">
      <div class="widget-bg-icon icon icon-basic-heart"></div>
      <div class="block">
        <h5 class="mb-0"><strong>576</strong></h5>
        <p>participantes</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-header">Consumo de serviços</div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li>
            <label class="icon-basic-postcard-multiple mb-2">
              &nbsp;25 targets
            </label>
          </li>
          <li>
            <label class="icon-software-add-vectorpoint mb-2">
              &nbsp;15 concepções
            </label>
          </li>
          <li>
            <label class="icon-software-layout-8boxes mb-2">
              &nbsp;14 MVPs
            </label>
          </li>
          <li>
            <label class="icon-ecommerce-money mb-2">
              &nbsp;52 sprints executadas
            </label>
          </li>
          <li>
            <label class="icon-basic-postcard mb-2">
              &nbsp;8 subscrições
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card card-primary card-inverse">
      <div class="card-header">Gestão de Dados</div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li>
            <label class="icon-ecommerce-graph3 mb-2">
              &nbsp;23,5k PF produzidos
            </label>
          </li>
          <li>
            <label class="icon-ecommerce-graph-increase mb-2">
              &nbsp;2,5 PF/PM, em média
            </label>
          </li>
          <li>
            <label class="icon-ecommerce-graph2 mb-2">
              &nbsp;15,4 PF/Sprint, em média
            </label>
          </li>
          <li>
            <label class="icon-basic-alarm mb-2">
              &nbsp;17,5k horas
            </label>
          </li>
          <li>
            <label class="icon-ecommerce-dollar mb-2">
              &nbsp;1,2k R$/PF
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card card-info card-inverse">
      <div class="card-header">Gestão de Ativos</div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li>
            <label class="icon-software-box-oval mb-2">
              &nbsp;16 equipes
            </label>
          </li>
          <li>
            <label class="icon-ecommerce-creditcard mb-2">
              &nbsp;15 sistemas
            </label>
          </li>
          <li>
            <label class="icon-software-reflect-horizontal mb-2">
              &nbsp;1,2k pessoas
            </label>
          </li>
          <li>
            <label class="icon-ecommerce-graph3 mb-2">
              &nbsp;1,2k R$/ PF
            </label>
          </li>
          <li>
            <label class="icon-ecommerce-banknote mb-2">
              &nbsp;R$ 1,5M em ativos
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card card-success card-inverse">
      <div class="card-header">Pesquisas & Boletins</div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li>
            <label class="icon-ecommerce-receipt mb-2">
              &nbsp;12 pesquisa de satisfação
            </label>
          </li>
          <li>
            <label class="icon-software-box-polygon mb-2">
              &nbsp;10 pesquisa de maturidade
            </label>
          </li>
          <li>
            <label class="icon-weather-sunset mb-2">
              &nbsp;25 pesquisa de clima
            </label>
          </li>
          <li>
            <label class="icon-basic-webpage-txt mb-2">
              &nbsp;13 boletins
            </label>
          </li>
          <li>
            <label class="icon-basic-elaboration-document-graph mb-2">
              &nbsp;3 artigos
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
