Diagnóstico | Progresso | <b>Desempenho</b><p>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////
LINHA 0 ---------------------------------------------------------------------------------------------->

<div class="row">
  <div class="col-md-5">
    <div class="card card-body no-bg">
      <div class="d-flex">
        <div class="mr-auto">
          <h3 class="mt-0 mb-0 text-uppercase"><small class="fw-300">Time de </small><strong>Contas</strong></h3>
          <h6 class="mt-0 mb-0 fw-400"><i>Produtos Bancários</i></h6>
          <p class="text-muted mt-0 mb-0">Sicredi - SM: José Maria</p>
        </div>
        <div>
          <img src="assets/images/avatar.jpg" class="avatar-md rounded-circle" alt="">
        </div>
      </div>
      <div class="mt-5">
        <div class="row mb-2">
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Membros (pessoas)</span>
              <strong>8</strong>
            </div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Timebox (sem.)</span>
              <strong>2</strong>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Horas/Sprint</span>
              <strong>640,00</strong>
            </div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Velocidade (PFC/SP)</span>
              <strong>53 </strong>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Tx. Entrega (PFC/PM)</span>
              <strong>12,5 </strong>
            </div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Produtividade (H/PFC)</span>
              <strong>15,54 </strong>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Custo Unit. (R$/PFC)</span>
              <strong>1150,50</strong>
            </div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Complexidade (EAF)</span>
              <strong>2,01</strong>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Inconform./PFC</span>
              <strong>0,5 </strong>
            </div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">PDC (%)</span>
              <strong>105%</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="card no-bg">
      <div class="card-body text-center rounded" style="background-image: url('assets/images/unsplash/2.jpg')">
        <img alt="" class="avatar-lg rounded-circle d-block mx-auto mb-3" src="assets/images/face4.jpg"/>
        <button class="btn btn-secondary btn-sm mb-3">
          Follow
        </button>
      </div>
      <div class="card-body pt-3 pb-3 ml-3 mr-3 bg-indigo text-white rounded" style="margin-top: -15px;">
        <div class="row text-center">
          <div class="col">
            <div class="h6 no-margin">
              62
            </div>
            <div class="small bold text-uppercase">
              Sprints
            </div>
          </div>
          <div class="col">
            <div class="h6 no-margin">
              9800
            </div>
            <div class="small bold text-uppercase">
              PFC
            </div>
          </div>
          <div class="col">
            <div class="h6 no-margin">
              12
            </div>
            <div class="small bold text-uppercase">
              MVPs
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--


<div class="mb-5">
  <ngb-tabset>
    <ngb-tab title="Simple">
      <ng-template ngbTabContent>Simple content</ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
      <ng-template ngbTabContent>Fancy title content</ng-template>
    </ngb-tab>
    <ngb-tab title="Disabled" [disabled]="true">
      <ng-template ngbTabContent>Disabled content</ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

-->


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////
LINHA 1 ---------------------------------------------------------------------------------------------->

<div class="row">
  <!-- Eficácia -->
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            <h3 class="mt-0 mb-0 text-uppercase"><small class="fw-300">Domínio de </small><strong>Eficácia</strong></h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row text-center">
          <div class="col-xs-12 col-sm-6">
            <div class="card">
              <div class="card-header">Atingimento das Metas</div>
              <div class="card-body">
                <div>
                  <!--
                  <ngx-charts-polar-chart
                          class="chart-container"
                          [view]="rad_view"
                          [scheme]="rad_colorScheme"
                          [schemeType]="rad_schemeType"
                          [results]="multi"
                          [legend]="rad_showLegend"
                          [legendTitle]="rad_legendTitle"
                          (legendLabelClick)="onLegendLabelClick($event)"
                          [gradient]="rad_gradient"
                          [xAxis]="rad_showXAxis"
                          [yAxis]="rad_showYAxis"
                          [showXAxisLabel]="rad_showXAxisLabel"
                          [showYAxisLabel]="rad_showYAxisLabel"
                          [xAxisLabel]="rad_xAxisLabel"
                          [yAxisLabel]="rad_yAxisLabel"
                          [autoScale]="rad_autoScale"
                          [showGridLines]="rad_showGridLines"
                          [rangeFillOpacity]="rad_rangeFillOpacity"
                          [roundDomains]="rad_roundDomains"
                          [tooltipDisabled]="rad_tooltipDisabled"
                          [showSeriesOnHover]="rad_showSeriesOnHover"
                          [curve]="rad_closedCurve"
                          (select)="select($event)">
                  </ngx-charts-polar-chart>
                  -->
                  <ngx-charts-advanced-pie-chart
                    class="chart-container"
                    [scheme]="atm_colorScheme"
                    [results]="atingimentoMetas"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [gradient]="atm_gradient"
                    [tooltipDisabled]="atm_tooltipDisabled"
                    (select)="select($event)">
                  </ngx-charts-advanced-pie-chart>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card">
              <div class="card-header">Qualidade nas Entregas</div>
              <div class="card-body">
                <div>
                  <ngx-charts-pie-grid
                    class="chart-container"
                    [scheme]="qua_colorScheme"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [results]="qualidade"
                    [tooltipDisabled]="f1tooltipDisabled"
                    (select)="select($event)">
                  </ngx-charts-pie-grid>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////
LINHA 2 ---------------------------------------------------------------------------------------------->

<div class="row">
  <!-- Eficiência -->
  <div class="col-sm-12 col-md-12">
    <div class="card">

      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            <h3 class="mt-0 mb-0 text-uppercase"><small class="fw-300">Domínio de </small><strong>Eficiência</strong></h3>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="row text-center">
          <div class="col-xs-12 col-sm-6">
            <div class="card">
              <div class="card-header">Custo</div>
              <div class="card-body">
                <div>
                  <ngx-charts-bar-vertical-stacked
                    class="chart-container"
                    [scheme]="cus_colorScheme"
                    [schemeType]="cus_schemeType"
                    [results]="custoPf"
                    [gradient]="cus_gradient"
                    [tooltipDisabled]="cus_tooltipDisabled"
                    [xAxis]="cus_showXAxis"
                    [yAxis]="cus_showYAxis"
                    [legend]="cus_showLegend"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [showXAxisLabel]="cus_showXAxisLabel"
                    [showYAxisLabel]="cus_showYAxisLabel"
                    [xAxisLabel]="cus_xAxisLabel"
                    [yAxisLabel]="cus_yAxisLabel"
                    [showGridLines]="cus_showGridLines"
                    [barPadding]="cus_barPadding"
                    [roundDomains]="cus_roundDomains"
                    (select)="select($event)">
                  </ngx-charts-bar-vertical-stacked>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card">
              <div class="card-header">Produtividade</div>
              <div class="card-body">
                <div>
                  <ngx-charts-line-chart
                    class="chart-container"
                    [scheme]="pro_colorScheme"
                    [schemeType]="pro_schemeType"
                    [results]="produtividade"
                    [legend]="pro_showLegend"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [gradient]="pro_gradient"
                    [xAxis]="pro_showXAxis"
                    [yAxis]="pro_showYAxis"
                    [showXAxisLabel]="pro_showXAxisLabel"
                    [showYAxisLabel]="pro_showYAxisLabel"
                    [xAxisLabel]="pro_xAxisLabel"
                    [yAxisLabel]="pro_yAxisLabel"
                    [autoScale]="pro_autoScale"
                    [timeline]="pro_timeline"
                    [showGridLines]="pro_showGridLines"
                    [curve]="pro_curve"
                    [rangeFillOpacity]="pro_rangeFillOpacity"
                    [roundDomains]="pro_roundDomains"
                    [tooltipDisabled]="pro_tooltipDisabled"
                    (select)="select($event)">
                  </ngx-charts-line-chart>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-xs-12 col-sm-6">
            <div class="card">
              <div class="card-header">Taxa de Entrega</div>
              <div class="card-body">
                <div>
                  <ngx-charts-line-chart
                    class="chart-container"
                    [scheme]="txe_colorScheme"
                    [schemeType]="txe_schemeType"
                    [results]="txEntrega"
                    [legend]="txe_showLegend"
                    [timeline] = "txe_timeline"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [gradient]="txe_gradient"
                    [xAxis]="txe_showXAxis"
                    [showXAxisLabel]="txe_showXAxisLabel"
                    [yAxis]="txe_showYAxis"
                    [showYAxisLabel]="txe_showYAxisLabel"
                    [xAxisLabel]="txe_xAxisLabel"
                    [yAxisLabel]="txe_yAxisLabel"
                    [autoScale]="txe_autoScale"
                    [timeline]="txe_timeline"
                    [showGridLines]="txe_showGridLines"
                    [curve]="txe_curve"
                    [rangeFillOpacity]="txe_rangeFillOpacity"
                    [roundDomains]="txe_roundDomains"
                    [tooltipDisabled]="txe_tooltipDisabled"
                    (select)="select($event)">
                  </ngx-charts-line-chart>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card">
              <div class="card-header">Velocidade</div>
              <div class="card-body">
                <div>
                  <ngx-charts-bar-vertical-2d
                    class="chart-container"
                    [scheme]="vel_colorScheme"
                    [schemeType]="vel_schemeType"
                    [results]="velocidade"
                    [gradient]="vel_gradient"
                    [xAxis]="vel_showXAxis"
                    [yAxis]="vel_showYAxis"
                    [legend]="vel_showLegend"
                    [showXAxisLabel]="vel_showXAxisLabel"
                    [showYAxisLabel]="vel_showYAxisLabel"
                    [tooltipDisabled]="vel_tooltipDisabled"
                    [xAxisLabel]="vel_xAxisLabel"
                    [yAxisLabel]="vel_yAxisLabel"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [showGridLines]="vel_showGridLines"
                    [barPadding]="vel_barPadding"
                    [groupPadding]="vel_groupPadding"
                    [roundDomains]="vel_roundDomains"
                    (select)="select($event)">
                  </ngx-charts-bar-vertical-2d>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-xs-12 col-sm-6">
            <div class="card">
              <div class="card-header">Tempo de Atendimento</div>
              <div class="card-body">
                <div>
                  <ngx-charts-line-chart
                    class="chart-container"
                    [scheme]="tat_colorScheme"
                    [schemeType]="tat_schemeType"
                    [results]="tmpAtendimento"
                    [legend]="tat_showLegend"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [gradient]="tat_gradient"
                    [xAxis]="tat_showXAxis"
                    [yAxis]="tat_showYAxis"
                    [showXAxisLabel]="tat_showXAxisLabel"
                    [showYAxisLabel]="tat_showYAxisLabel"
                    [xAxisLabel]="tat_xAxisLabel"
                    [yAxisLabel]="tat_yAxisLabel"
                    [autoScale]="tat_autoScale"
                    [timeline]="tat_timeline"
                    [showGridLines]="tat_showGridLines"
                    [curve]="tat_curve"
                    [rangeFillOpacity]="tat_rangeFillOpacity"
                    [roundDomains]="tat_roundDomains"
                    [tooltipDisabled]="tat_tooltipDisabled"
                    (select)="select($event)">
                  </ngx-charts-line-chart>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card">
              <div class="card-header"></div>
              <div class="card-body">
                <div>
                  <ngx-charts-number-card
                    class="chart-container"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [scheme]="colorScheme"
                    [results]="eficiencia"
                    (select)="select($event)">
                  </ngx-charts-number-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////
LINHA 3 ---------------------------------------------------------------------------------------------->

<div class="row">
  <!-- Eficácia -->
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header no-shadow">
        <h3 class="mt-0 mb-0 text-uppercase"><small class="fw-300">Domínio de</small> <strong>Efetividade</strong></h3>
      </div>
      <div class="card-body">
        <div class="row text-center">
          <div class="col-xs-12 col-sm-6">
            <div class="card">
              <div class="card-header">Satisfação do Usuário</div>
              <div class="card-body">
                <div>
                  <ngx-charts-pie-chart class="chart-container"
                                        [scheme]="sat_colorScheme"
                                        [results]="satisfacaoUsuario"
                                        [legend]="sat_showLegend"
                                        [explodeSlices]="sat_explodeSlices"
                                        [labels]="sat_showLabels"
                                        [doughnut]="sat_doughnut"
                                        [arcWidth]="sat_arcWidth"
                                        (legendLabelClick)="onLegendLabelClick($event)"
                                        [gradient]="sat_gradient"
                                        [tooltipDisabled]="sat_tooltipDisabled"
                                        (select)="select($event)">
                  </ngx-charts-pie-chart>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card">
              <div class="card-header">Perspectiva de Valor</div>
              <div class="card-body">
                <div>
                  <ngx-charts-pie-chart
                    class="chart-container"
                    [scheme]="per_colorScheme"
                    [results]="expectativaValor"
                    [legend]="per_showLegend"
                    [explodeSlices]="per_explodeSlices"
                    [labels]="per_showLabels"
                    [doughnut]="per_doughnut"
                    [arcWidth]="per_arcWidth"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [gradient]="per_gradient"
                    [tooltipDisabled]="per_tooltipDisabled"
                    (select)="select($event)">
                  </ngx-charts-pie-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////
LINHA 4 ---------------------------------------------------------------------------------------------->

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
              <h3 class="mt-0 mb-0 text-uppercase"><small class="fw-300">Domínio de </small><strong>Maturidade</strong></h3>
          </div>
          <div class="card-body">
            <div align-content="center">
              <ngx-charts-gauge (legendlabelclick)="onLegendLabelClick($event)"
                                (select)="select($event)"
                                [angleSpan]="mat_gaugeAngleSpan"
                                [bigSegments]="mat_gaugeLargeSegments"
                                [legend]="mat_showLegend"
                                [margin]="mat_margin ? [mat_marginTop, mat_marginRight, mat_marginBottom, mat_marginLeft] : null"
                                [max]="mat_gaugeMax"
                                [min]="mat_gaugeMin"
                                [results]="maturidade"
                                [scheme]="mat_colorScheme"
                                [showAxis]="mat_gaugeShowAxis"
                                [smallSegments]="mat_gaugeSmallSegments"
                                [startAngle]="mat_gaugeStartAngle"
                                [textValue]="mat_gaugeTextValue"
                                [tooltipDisabled]="mat_tooltipDisabled"
                                [units]="mat_gaugeUnits"
                                class="gauge-container">
              </ngx-charts-gauge>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Clima -->
  <div class="col-lg-6">
    <div class="card">
        <div class="card-header no-shadow">
          <div class="card-header-text w-100">
            <div class="card-title">
                <h3 class="mt-0 mb-0 text-uppercase"><small class="fw-300">Domínio de </small><strong>Clima</strong></h3>
            </div>
            <div class="mb-1">
              <ngx-charts-bar-vertical class="chart-container"
                                       [scheme]="ter_colorScheme"
                                       [schemeType]="ter_schemeType"
                                       [results]="termometro"
                                       [gradient]="ter_gradient"
                                       [xAxis]="ter_showXAxis"
                                       [yAxis]="ter_showYAxis"
                                       [legend]="ter_showLegend"
                                       [showXAxisLabel]="ter_showXAxisLabel"
                                       [showYAxisLabel]="ter_showYAxisLabel"
                                       [tooltipDisabled]="ter_tooltipDisabled"
                                       [xAxisLabel]="ter_xAxisLabel"
                                       [yAxisLabel]="ter_yAxisLabel"
                                       [showGridLines]="ter_showGridLines"
                                       [barPadding]="ter_barPadding"
                                       [roundDomains]="ter_roundDomains"
                                       (select)="select($event)"
                                       (legendLabelClick)="onLegendLabelClick($event)">
                </ngx-charts-bar-vertical>
            </div>
            <div class="card">
              <div class="card-header no-shadow">
                Planos de ação
              </div>
              <div>
              <ul class="list-group border-0">
                <li class="list-group-item border-left-0 border-right-0">
                  <div class="d-flex justify-content-left">
                    <div class="pl-3">
                      <span class="d-block">
                        Revisar a definição de pronto
                      </span>
                      <small class="text-muted">
                        12/11 - 15/01
                      </small>
                    </div>
                  </div>
                </li>
                <li class="list-group-item border-left-0 border-right-0">
                  <div class="d-flex justify-content-left">
                    <div class="pl-3">
                      <span class="d-block">
                        Realizar integração de Natal
                      </span>
                      <small class="text-muted">
                        12/11 - 15/01
                      </small>
                    </div>
                  </div>
                </li>
                <li class="list-group-item border-left-0 border-right-0  border-bottom-0">
                  <div class="d-flex justify-content-left">
                    <div class="pl-3">
                      <span class="d-block">
                        Implementar WIP no Kanban
                      </span>
                      <small class="text-muted">
                        12/11 - 15/01
                      </small>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!--
<div class="row">
  <div class="col-lg-5">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Social Feed
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
            Atualização: 1 hora
          </div>
        </div>
      </div>
      <div class="activity-stream">
        <div class="card">
          <div class="card-header">
            <img class="card-avatar" src="assets/images/face1.jpg"/>
            <div class="card-header-text">
              <div class="card-title">
                Received a call from Joel
              </div>
              <div class="card-subtitle">
                at 3:14PM
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <img class="card-avatar" src="assets/images/face2.jpg"/>
            <div class="card-header-text">
              <div class="card-title">
                Added Ellie to Group
              </div>
              <div class="card-subtitle">
                5 mins ago
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="mb-0">
              Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card bg-purple card-inverse">
      <div class="card-header">
        KPI
      </div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                Learn Angular 4
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                Update Vue.JS
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox">
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                Add ReactJS
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                Upgrade Ember
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                Read on Meteor
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                Commit Riot changes
              </span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card">
      <div class="card-header no-shadow">
        News Feed
      </div>
      <ul class="list-group border-0">
        <li class="list-group-item border-left-0 border-right-0">
          <div class="d-flex justify-content-center">
            <a class="pull-left avatar-sm" href="javascript:;">
              <img class="img-fluid" src="assets/images/face4.jpg"/>
            </a>
            <div class="pl-3">
              <span class="d-block">
                Donec ullamcorper nulla non metus auctor fringilla.
              </span>
              <small class="text-muted">
                Yesterday
              </small>
            </div>
          </div>
        </li>
        <li class="list-group-item border-left-0 border-right-0">
          <div class="d-flex justify-content-center">
            <a class="pull-left avatar-sm" href="javascript:;">
              <img class="img-fluid" src="assets/images/face5.jpg"/>
            </a>
            <div class="pl-3">
              <span class="d-block">
                Donec ullamcorper nulla non metus auctor fringilla.
              </span>
              <small class="text-muted">
                Yesterday
              </small>
            </div>
          </div>
        </li>
        <li class="list-group-item border-left-0 border-right-0  border-bottom-0">
          <div class="d-flex justify-content-center">
            <a class="pull-left avatar-sm" href="javascript:;">
              <img class="img-fluid" src="assets/images/face1.jpg">
            </a>
            <div class="pl-3">
              <span class="d-block">
                Donec ullamcorper nulla non metus auctor fringilla.
              </span>
              <small class="text-muted">
                Yesterday
              </small>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
-->
