.line-container {
  height: 300px;
  width: 100%;
  display: block;
}
.gauge-container {
  height: 470px;
  width: 100%;
  display: block;
}
.chart-container {
  height: 250px;
  width: 100%;
  display: block;
}
.chart-container-pie {
  height: 100px;
  align-content: center;
  width: 100%;
  display: block;
}
