<div class="card">
  <div class="card-header">
    Medição do MVP
  </div>
  <div class="card-body">
    <p>
      Ao final do MVP, realiza-se uma medição para análise de
      <code>
        Performance
      </code>
      e
      <code>
        Calibração
      </code>
      das informações geradas pelo trabalho dos times.
    </p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              Time
            </th>
            <th>
              MVP
            </th>
            <th>
              Tamanho
            </th>
            <th>
              Tx. Entrega
            </th>
            <th>
              Produtividade
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Cadastro
            </td>
            <td>
              EP002/17 - MVP 1
            </td>
            <td>
              52
            </td>
            <td>
              3,7
            </td>
            <td>
              14,5
            </td>
          </tr>
          <tr>
            <td>
              Gestão de Pessoas
            </td>
            <td>
              EP002/17 - MVP 2
            </td>
            <td>
              43
            </td>
            <td>
              2,6
            </td>
            <td>
              15,3
            </td>
          </tr>
          <tr>
            <td>
              Contas
            </td>
            <td>
              EP002/17 - MVP 1
            </td>
            <td>
              62
            </td>
            <td>
              3,4
            </td>
            <td>
              13,3
            </td>
          </tr>
          <tr>
            <td>
              Empréstimos
            </td>
            <td>
              EP001/17 - MVP 5
            </td>
            <td>
              48
            </td>
            <td>
              2,8
            </td>
            <td>
              16,7
            </td>
          </tr>
          <tr>
            <td>
              Financiamentos
            </td>
            <td>
              EP001/17 - MVP 3
            </td>
            <td>
              51
            </td>
            <td>
              3,1
            </td>
            <td>
              12,5
            </td>
          </tr>
        </tbody>
      </table>
      <div align="right">
        <p></p>
        <button type="button" class="btn btn-primary btn-icon loading-demo mr-1 mb-1">
          <i class="icon icon-basic-paperplane"></i>
          <span>Novo</span>
        </button>
        <button type="button" class="btn btn-info btn-icon mr-1 mb-1">
          <i class="icon icon-basic-server-upload"></i>
          <span>Carregar</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Medição da Sprint
  </div>
  <div class="card-body">
    <p>
      Realizada ao final da Sprint, a medição para análise de
      <code>
        Performance
      </code>
      e
      <code>
        Calibração
      </code>
      gera dados precisos para gestão e planejamento futuro.
    </p>
    <div class="no-more-tables">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              Time
            </th>
            <th>
              Sprint
            </th>
            <th class="numeric">
              Tamanho
            </th>
            <th class="numeric">
              Esforço
            </th>
            <th class="numeric">
              Velocidade
            </th>
            <th class="numeric">
              Tx. Entrega
            </th>
            <th class="numeric">
              Produtividade
            </th>
            <th class="numeric">
              Custo
            </th>
            <th class="numeric/">
              Inc./PF
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="Code">
              Contas
            </td>
            <td data-title="Company">
              12
            </td>
            <td data-title="Price" class="numeric">
              23
            </td>
            <td data-title="Change" class="numeric">
              812
            </td>
            <td data-title="Change %" class="numeric">
              25
            </td>
            <td data-title="Open" class="numeric">
              2,13
            </td>
            <td data-title="High" class="numeric">
              13,8
            </td>
            <td data-title="Low" class="numeric">
              1,4K
            </td>
            <td data-title="Volume" class="numeric">
              0,05
            </td>
          </tr>
          <tr>
            <td data-title="Code">
              Contas
            </td>
            <td data-title="Company">
              11
            </td>
            <td data-title="Price" class="numeric">
              25
            </td>
            <td data-title="Change" class="numeric">
              800
            </td>
            <td data-title="Change %" class="numeric">
              25
            </td>
            <td data-title="Open" class="numeric">
              2,15
            </td>
            <td data-title="High" class="numeric">
              14,5
            </td>
            <td data-title="Low" class="numeric">
              1,3K
            </td>
            <td data-title="Volume" class="numeric">
              0,03
            </td>
          </tr>
          <tr>
            <td data-title="Code">
              Cadastros
            </td>
            <td data-title="Company">
              2
            </td>
            <td data-title="Price" class="numeric">
              32
            </td>
            <td data-title="Change" class="numeric">
              780
            </td>
            <td data-title="Change %" class="numeric">
              31
            </td>
            <td data-title="Open" class="numeric">
              3.11
            </td>
            <td data-title="High" class="numeric">
              15,4
            </td>
            <td data-title="Low" class="numeric">
              1,2K
            </td>
            <td data-title="Volume" class="numeric">
              0,02
            </td>
          </tr>
        </tbody>
      </table>
      <div align="right">
        <p></p>
        <button type="button" class="btn btn-primary btn-icon loading-demo mr-1 mb-1">
          <i class="icon icon-basic-paperplane"></i>
          <span>Novo</span>
        </button>
        <button type="button" class="btn btn-info btn-icon mr-1 mb-1">
          <i class="icon icon-basic-server-upload"></i>
          <span>Carregar</span>
        </button>
      </div>
    </div>
  </div>
</div>
