<div class="card">
  <div class="card-header">
    Target ou Épico
  </div>
  <div class="card-body">
    <!--
    <p>
      Ocorre durante a execução do processo de
      <code>
        &#60;Portfólio de Projetos&#62;
      </code>
      e conforme a base histórica de projetos realizados.
    </p>-->
    <div class="row">
      <div class="col-lg-6">
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>
                #
              </th>
              <th>
                Target
              </th>
              <th>
                Épico
              </th>
              <th>
                Portfólio/ Sub
              </th>
              <th>
                Status
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                1
              </th>
              <td>
                PJ2037
              </td>
              <td>
                EP001/17
              </td>
              <td>
                Produtos Bancários
              </td>
              <td>
                Pendente
              </td>
            </tr>
            <tr>
              <th scope="row">
                2
              </th>
              <td>
                PJ2037
              </td>
              <td>
                EP002/17
              </td>
              <td>
                Cadastros
              </td>
              <td>
                Ok
              </td>
            </tr>
            <tr>
              <th scope="row">
                3
              </th>
              <td>
                PJ1936
              </td>
              <td>
                EP003/17
              </td>
              <td>
                Cadastros
              </td>
              <td>
                Ok
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-6">
        <table class="table">
          <thead class="thead-default">
            <tr>
              <th>
                Pontos
              </th>
              <th>
                Esforço
              </th>
              <th>
                Sprints
              </th>
              <th>
                Custo (R$)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                120
              </th>
              <td>
                2123
              </td>
              <td>
                5
              </td>
              <td>
                123K
              </td>
            </tr>
            <tr>
              <th scope="row">
                114
              </th>
              <td>
                2052
              </td>
              <td>
                4
              </td>
              <td>
                134K
              </td>
            </tr>
            <tr>
              <th scope="row">
                113
              </th>
              <td>
                1950
              </td>
              <td>
                4
              </td>
              <td>
                105,5K
              </td>
            </tr>
          </tbody>
        </table>
        <div align="right">
          <p></p>
          <button type="button" class="btn btn-primary btn-icon loading-demo mr-1 mb-1">
            <i class="icon icon-basic-paperplane"></i>
            <span>Novo</span>
          </button>
          <button type="button" class="btn btn-info btn-icon mr-1 mb-1">
            <i class="icon icon-basic-server-upload"></i>
            <span>Carregar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Estimativa Inicial
  </div>
  <div class="card-body">
    <!--
    <p>
      Realizada durante a etapa de
      <code>
        &#60;Concepção&#62;
      </code>
        ou
      <code>
        &#60;Planejamento&#62;
      </code>
        do
      <code>
        &#60;Ciclo de Desenvolvimento.&#62;
      </code>
    </p>-->
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>
              Portfólio/ Sub
            </th>
            <th>
              Time
            </th>
            <th>
              MVPs
            </th>
            <th>
              Pontos
            </th>
            <th>
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span>
              </span>
              Produtos Bancários
            </td>
            <td>
              Contas
            </td>
            <td>
              4
            </td>
            <td>
              138
            </td>
            <td class="align-middle">
              <span class="label label-success">Pendente</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>
              </span>
              Administrativo
            </td>
            <td>
              Gestão de Pessoas
            </td>
            <td>
              2
            </td>
            <td>
              123
            </td>
            <td class="align-middle">
              <span class="label label-info">Ok</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>
              </span>
              Cadastros
            </td>
            <td>
              Cadastro
            </td>
            <td>
              2
            </td>
            <td>
              57
            </td>
            <td class="align-middle">
              <span class="label label-danger">Ok</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>
              </span>
              Produtos Bancários
            </td>
            <td>
              Financiamentos
            </td>
            <td>
              3
            </td>
            <td>
              118
            </td>
            <td class="align-middle">
              <span class="label label-warning">Ok</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>
              </span>
              Produtos Bancários
            </td>
            <td>
              Empréstimos
            </td>
            <td>
              6
            </td>
            <td>
              145
            </td>
            <td class="align-middle">
              <span class="label label-info">Ok</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div align="right">
        <p></p>
        <button type="button" class="btn btn-primary btn-icon loading-demo mr-1 mb-1">
          <i class="icon icon-basic-paperplane"></i>
          <span>Novo</span>
        </button>
        <button type="button" class="btn btn-info btn-icon mr-1 mb-1">
          <i class="icon icon-basic-server-upload"></i>
          <span>Carregar</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Estimativa do MVP
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Time
            </th>
            <th>
              MVP
            </th>
            <th>
              Pontos
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              1
            </th>
            <td>
              Contas
            </td>
            <td>
              MVP 1
            </td>
            <td>
              42
            </td>
          </tr>
          <tr>
            <th scope="row">
              2
            </th>
            <td>
              Contas
            </td>
            <td>
              MVP 2
            </td>
            <td>
              54
            </td>
          </tr>
          <tr>
            <th scope="row">
              3
            </th>
            <td>
              Cadastro
            </td>
            <td>
              MVP 1
            </td>
            <td>
              50
            </td>
          </tr>
        </tbody>
      </table>
      <div align="right">
        <p></p>
        <button type="button" class="btn btn-primary btn-icon loading-demo mr-1 mb-1">
          <i class="icon icon-basic-paperplane"></i>
          <span>Novo</span>
        </button>
        <button type="button" class="btn btn-info btn-icon mr-1 mb-1">
          <i class="icon icon-basic-server-upload"></i>
          <span>Carregar</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Estimativa da Sprint
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Time
            </th>
            <th>
              Sprint
            </th>
            <th>
              Pontos
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              1
            </th>
            <td>
              Contas
            </td>
            <td>
              Sprint 11
            </td>
            <td>
              29
            </td>
          </tr>
          <tr>
            <th scope="row">
              2
            </th>
            <td>
              Cadastros
            </td>
            <td>
              Sprint 7
            </td>
            <td>
              23
            </td>
          </tr>
          <tr>
            <th scope="row">
              3
            </th>
            <td>
              Crédito
            </td>
            <td>
              Sprint 4
            </td>
            <td>
              25
            </td>
          </tr>
        </tbody>
      </table>
      <div align="right">
        <p></p>
        <button type="button" class="btn btn-primary btn-icon loading-demo mr-1 mb-1">
          <i class="icon icon-basic-paperplane"></i>
          <span>Novo</span>
        </button>
        <button type="button" class="btn btn-info btn-icon mr-1 mb-1">
          <i class="icon icon-basic-server-upload"></i>
          <span>Carregar</span>
        </button>
      </div>
    </div>
  </div>
</div>
