<p class="ff-headers text-uppercase mb-3 fw-600">Principais disciplinas</p>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title text-uppercase">Desenvolvimento ágil e enxuto</h6>
        <p class="card-text">Conheça métodos que se destacam no desenvolvimento de software efetivo.</p>
        <a href="#" class="btn btn-primary">Saiba mais</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title text-uppercase">Métricas de software</h6>
        <p class="card-text">Veja uma biblioteca abrangente sobre os principais padrões internacionais.</p>
        <a href="#" class="btn btn-primary">Saiba mais</a>
      </div>
    </div>
  </div>
</div>

<p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Boletins</p>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <img class="card-img-top img-fluid" src="assets/images/unsplash/1.jpg" alt="Card image cap"/>
      <div class="card-body">
        <h5 class="card-title">
          Entenda o PDC: Plano de Desenvolvimento Coletivo
        </h5>
        <p class="card-text">
          Dúvidas ao avaliar o desempenho das pessoas em times ágeis? Pense no coletivo.
        </p>
        <p class="card-text">
          <small class="text-muted">
            Última atualização: 3 min. atrás
          </small>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          As vantagens da objetividade
        </h5>
        <p class="card-text">
          Descubra a razão pelo qual cada vez mais empresas têm aderido à abordagem de métricas objetivas como estratégia para análise de performance da TI.
        </p>
        <p class="card-text">
          <small class="text-muted">
            Última atualização: 3 min. atrás
          </small>
        </p>
      </div>
      <img class="card-img-bottom img-fluid" src="assets/images/unsplash/2.jpg" alt="Card image cap"/>
    </div>
  </div>
</div>

<p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Posts fixos</p>
<div class="row">
  <div class="col-lg-4">
    <div class="card card-body">
      <h6 class="card-title text-uppercase">Constatando diagnóstico</h6>
      <p class="card-text">
        Desvende o que seus números significam para o planejamento estratégico.
      </p>
      <a href="javascript:;" class="btn btn-primary">
        Saiba mais
      </a>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-body">
      <h6 class="card-title text-uppercase">Avaliando progresso</h6>
      <p class="card-text">
        A versatilidade e as múltiplas visões num acompanhamento através da matemática.
      </p>
      <a href="javascript:;" class="btn btn-primary">
        Saiba mais
      </a>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-body">
      <h6 class="card-title text-uppercase">Discutindo desempenho</h6>
      <p class="card-text">
        O estabelecimento de planos de desenvolvimento, passível de benchmarking real.
      </p>
      <a href="javascript:;" class="btn btn-primary">
        Saiba mais
      </a>
    </div>
  </div>
</div>

<p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Conteúdo especial</p>
<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        Destaque
      </div>
      <div class="card-body">
        <h6 class="card-title text-uppercase">Métricas x Especificação</h6>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="javascript:;" class="btn btn-primary">
          Saiba mais
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        Mindset
      </div>
      <div class="card-body">
        <blockquote class="card-blockquote">
          <p>
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          </p>
          <footer>
            Alguém conhecido por
            <cite title="Source Title">
              Governança Ágil
            </cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        Destaque
      </div>
      <div class="card-body">
        <h6 class="card-title text-uppercase">Governança Ágil</h6>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
      </div>
      <div class="card-footer text-muted">
        2 dias atrás
      </div>
    </div>
  </div>
</div>

<p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Palavra de guru</p>
<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <img class="card-img img-fluid" src="assets/images/unsplash/3.jpg" alt="Card image"/>
      <div class="card-img-overlay">
        <h5 class="card-title">
          Lean Startup
        </h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to additional content.
        </p>
        <p class="card-text">
          <small>
            Por Eric Ries
          </small>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <img class="card-img img-fluid" src="assets/images/unsplash/4.jpg" alt="Card image"/>
      <div class="card-img-overlay">
        <h5 class="card-title">
          Direto ao Ponto
        </h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to additional content.
        </p>
        <p class="card-text">
          <small>
            Por Paulo Caroli
          </small>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <img class="card-img img-fluid" src="assets/images/unsplash/5.jpg" alt="Card image"/>
      <div class="card-img-overlay">
        <h5 class="card-title">
          Agile & Scrum
        </h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to additional content.
        </p>
        <p class="card-text">
          <small>
            Por Martin Fowler
          </small>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <img class="card-img img-fluid" src="assets/images/unsplash/6.jpg" alt="Card image"/>
      <div class="card-img-overlay">
        <h5 class="card-title">
          Métricas
        </h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to additional content.
        </p>
        <p class="card-text">
          <small>
            Por Maurício Aguiar
          </small>
        </p>
      </div>
    </div>
  </div>
</div>

<p class="ff-headers text-uppercase mb-3 mt-3 fw-600">O que mais você deveria saber</p>
<div class="row">
  <div class="col-md-3">
    <div class="card card-inverse card-success">
      <div class="card-body">
        <p class="card-text">
          Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-inverse card-info">
      <div class="card-body">
        <p class="card-text">
          Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-inverse card-danger">
      <div class="card-body">
        <p class="card-text">
          Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-inverse card-warning">
      <div class="card-body">
        <p class="card-text">
          Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.
        </p>
      </div>
    </div>
  </div>
</div>

<p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Próximos grandes eventos</p>
<div class="row">
  <div class="col-sm-12">
    <div class="card-group mb-1">
      <div class="card">
        <img class="card-img-top img-fluid" src="assets/images/unsplash/7.jpg" alt="Card image"/>
        <div class="card-body">
          <h5 class="card-title">
            ISMA 2018, Roma (ITA)
          </h5>
          <p class="card-text">
            O principal evento de métricas do mundo será realizado no mês de maio/2017, na belíssima cidade de roma. Fique ligado!
          </p>
          <p class="card-text">
            <small class="text-muted">
              Começa em 12/05/2018, até 15/05/2018
            </small>
          </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid" src="assets/images/unsplash/8.jpg" alt="Card image"/>
        <div class="card-body">
          <h5 class="card-title">
            Agile nas Montanhas, Munique (ALE)
          </h5>
          <p class="card-text">
            Abordando Agile de uma forma diferente, em meio à floresta negra alemã, este evento promete!
          </p>
          <p class="card-text">
            <small class="text-muted">
              Começa em 10/06/2018
            </small>
          </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid" src="assets/images/unsplash/9.jpg" alt="Card image"/>
        <div class="card-body">
          <h5 class="card-title">
            Exercitando Startups, Porto Alegre (BRA)
          </h5>
          <p class="card-text">
            Veja como Adams e sua equipe enfrentaram seus principais desafios práticos ao iniciar sua startup na linha do sucesso.
          </p>
          <p class="card-text">
            <small class="text-muted">
              Ocorrerá em 15/07/2018
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Meetups</p>
<div class="row">
  <div class="col-sm-12">
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top img-fluid" src="assets/images/unsplash/10.jpg" alt="Card image"/>
          <div class="card-body">
            <h5 class="card-title">
              Google+
            </h5>
            <p class="card-text">
              Organizanda pela própria Google, esta Meetup é o evento mais esperado do ano na área de tecnologia na região de Porto Alegre (BRA).
            </p>
            <p class="card-text">
              <small class="text-muted">
                Ocorrerá em 25/12/2017
              </small>
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="assets/images/unsplash/11.jpg" alt="Card image"/>
          <div class="card-body">
            <h5 class="card-title">
              Facebook Today and Tomorrow
            </h5>
            <p class="card-text">
              Em Porto Alegre (BRA), um encontro que discutirá tendências e oportunidades em torno da rede social do Facebook.
            </p>
            <p class="card-text">
              <small class="text-muted">
                Ocorrerá em 10/01/2018
              </small>
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="assets/images/unsplash/12.jpg" alt="Card image"/>
          <div class="card-body">
            <h5 class="card-title">
              AWS Reinvent
            </h5>
            <p class="card-text">
              Principal Meetup, este evento agora será realizado em Porto Alegre (BRA), na FIERGS. Ele promete movimentar os fãs da AWS.
            </p>
            <p class="card-text">
              <small class="text-muted">
                Ocorrerá em 12/01/2018
              </small>
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="assets/images/unsplash/13.jpg" alt="Card image"/>
          <div class="card-body">
            <h5 class="card-title">
              Code + Code
            </h5>
            <p class="card-text">
              Vamos discutir em Caxias do Sul, no dia 15/01, as principais tendências em relação à código reusável em grandes corporações. Não perca!
            </p>
            <p class="card-text">
              <small class="text-muted">
                Ocorrerá em 15/01/2018
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
