<div class="taskboard page-height">
  <div class="taskboard-wrapper">
    <div class="taskboard-list">
      <h6 class="taskboard-header">Backlog</h6>
      <div class="taskboard-cards" [dragula]='"task-group"'>
        <div class="taskboard-task">
          <div class="taskboard-task-title">Estimativa de MVP</div>
          <small class="card-text text-muted">Etiam porta sem malesuada magna mollis euismod.</small>
        </div>
        <div class="taskboard-task">
          <div class="taskboard-task-title">Estimativa de Target</div>
          <small class="card-text text-muted">Curabitur blandit tempus porttitor.</small>
        </div>
        <div class="taskboard-task task-status-success">
          <div class="taskboard-task-title">Estimativa Inicial</div>
          <small class="card-text text-muted">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</small>
        </div>
      </div>
    </div>
  </div>

  <div class="taskboard-wrapper">
    <div class="taskboard-list">
      <h6 class="taskboard-header">To Do</h6>
      <div class="taskboard-cards" [dragula]='"task-group"'>
        <div class="taskboard-task">
          <div class="taskboard-task-title">Estimativa de Target</div>
          <small class="card-text text-muted">Etiam porta sem malesuada magna mollis euismod.</small>
        </div>
        <div class="taskboard-task task-status-danger">
          <div class="taskboard-task-title">Medição de Sprint</div>
          <small class="card-text text-muted">Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</small>
        </div>
        <div class="taskboard-task task-status-info">
          <div class="taskboard-task-title">Medição de Sprint</div>
          <small class="card-text text-muted">Donec sed odio dui.</small>
        </div>
        <div class="taskboard-task">
          <div class="taskboard-task-title">Calibração de Métricas</div>
          <small class="card-text text-muted">Aenean lacinia bibendum nulla sed consectetur.</small>
        </div>
        <div class="taskboard-task task-status-danger">
          <div class="taskboard-task-title">Estimativa de Target</div>
          <small class="card-text text-muted">Sollicitudin</small>
        </div>
      </div>
    </div>
  </div>

  <div class="taskboard-wrapper">
    <div class="taskboard-list">
      <h6 class="taskboard-header">DOING</h6>
      <div class="taskboard-cards" [dragula]='"task-group"'>
        <div class="taskboard-task">
          <div class="taskboard-task-title">Suporte Avançado</div>
          <small class="card-text text-muted">Maecenas sed diam eget risus varius blandit sit amet non magna.</small>
        </div>
        <div class="taskboard-task task-status-warning">
          <div class="taskboard-task-title">Medição de Sprint</div>
          <small class="card-text text-muted">Sed posuere consectetur est at lobortis.</small>
        </div>
        <div class="taskboard-task">
          <div class="taskboard-task-title">Planejamento de Sprint</div>
          <small class="card-text text-muted">Nulla vitae elit libero, a pharetra augue.</small>
        </div>
        <div class="taskboard-task">
          <div class="taskboard-task-title">Planejamento de Sprint</div>
          <small class="card-text text-muted">Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</small>
        </div>
        <div class="taskboard-task task-status-info">
          <div class="taskboard-task-title">Reporte Periódico</div>
          <small class="card-text text-muted">Maecenas sed diam eget risus varius blandit sit amet non magna.</small>
        </div>
        <div class="taskboard-task">
          <div class="taskboard-task-title">Medição de Sprint</div>
          <small class="card-text text-muted">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</small>
        </div>
      </div>
    </div>
  </div>

  <div class="taskboard-wrapper">
    <div class="taskboard-list">
      <h6 class="taskboard-header">Done</h6>
      <div class="taskboard-cards" [dragula]='"task-group"'>
        <div class="taskboard-task task-status-info">
          <div class="taskboard-task-title">Estimativa Inicial</div>
          <small class="card-text text-muted">Sed posuere consectetur est at lobortis.</small>
        </div>
        <div class="taskboard-task">
          <div class="taskboard-task-title">Planejamento de Sprint</div>
          <small class="card-text text-muted">Maecenas sed diam eget risus varius blandit sit amet non magna.</small>
        </div>
        <div class="taskboard-task">
          <div class="taskboard-task-title">Medição de Sprint</div>
          <small class="card-text text-muted">Vestibulum id ligula porta felis euismod semper.</small>
        </div>
        <div class="taskboard-task">
          <div class="taskboard-task-title">Medição de Sprint</div>
          <small class="card-text text-muted">Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</small>
        </div>
        <div class="taskboard-task task-status-warning">
          <div class="taskboard-task-title">[024/2017] Calibração de EAF</div>
          <small class="card-text text-muted">Donec sed odio dui.</small>
        </div>
      </div>
    </div>
  </div>
</div>
